.footer-container {
  background-color: #0f3057;
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
}

.footer-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.footer-subscription-header {
  margin-bottom: 20px;
  font-size: 22px;
}

.footer-subscription-text {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-input {
  padding: 4px 20px;
  border-radius: 2px;
  outline: none;
  border: 1px solid #e8e8e8;
  font-size: 18px;
}

input {
  margin: 8px;
}

.footer-input::placeholder {
  color: #bbbbbb;
}

form .btn {
  padding: 4px 10px;
  margin: 4px auto;
}

.footer-links {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 0 4rem;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 24px;
  text-align: left;
  box-sizing: border-box;
}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items a {
  color: #e8e8e8;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-link-items a:hover {
  color: #bbbbbb;
  transition: all 0.3s ease-put;
}

.social-logo {
  color: #e8e8e8;
  text-decoration: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.social-logo:hover {
  color: #bbbbbb;
}

.footer-icon {
  margin: 0 4px 1px;
}

.social-icon-link {
  color: #e8e8e8;
  font-size: 24px;
}

.social-media {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 20px;
}

.social-icons a {
  margin-left: 8px;
}

.social-icons a:hover {
  color: #bbbbbb;
}

.attribution a {
  color: #e8e8e8;
}

.attribution a:hover {
  color: #bbbbbb;
}
