@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
.navbar {
  background: #242424;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0 10px;
  /* to fix navbar on the top  */
  position: fixed;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}

.nav-icon {
  margin: 0 4px;
  padding-top: 2px;
}

.click-icon-menu {
  color: #fff;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  z-index: 2;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 250ms ease;
}

.nav-signup {
  display: none;
}

.menu-icon {
  display: none;
  height: 2rem;
}

@media screen and (max-width: 900px) {
  .nav-item {
    position: relative;
    height: 60px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    display: none;
    top: 80px;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    opacity: 1;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;
    display: block;
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    margin: 2px auto;
    width: 80%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 6px;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .click-icon-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-signup {
    display: block;
    text-align: center;
    margin: 1rem auto;
    border-radius: 4px;
    width: 50%;
    text-decoration: none;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-signup:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
